{namespace Confluence.Templates.Publish}

/**
 * Renders the "Publish to Blog" dialog
 */
{template .publishAsBlog}
<div>
<p>You are going to publish this page as a blog post.  This will create a blog post in the same space with the same title as your original page.</p>
<p>All content and attachments will be copied over to the blog post and your original page will be left entirely alone.</p>
</div>
{/template}